.contact-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.worthy {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.high-light {
    color: #FE4D4D;
}

.join-form {
    color: white;
    background-color: #2C2929;
    width: 30vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #C4C4C4;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #FE4D4D;
}

.c1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.c2 {
    position: absolute;
    top: 15vw;
    left: 20vw;
    z-index: -1;
    opacity: 0.7;
}

.c3 {
    position: absolute;
    top: 10vw;
    left: 50vw;
    z-index: -1;
    opacity: 0.7;
}

@media (max-width :900px) {
    .contact-main-section,
    .main-nav #branding {
        flex-direction: column;
        justify-content: center;
    }
    .join-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
    .c1,
    .c2,
    .c3 {
        display: none;
    }
}